{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3">Puppy List</h1>
    <div class="row">
        {% for puppy in puppies %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% with 'images/'|add:puppy.name|add:'.jpg' as image_filename %}
                <img src="{% static image_filename %}" alt="{{ puppy.name }}">
                {% endwith %}
                <div class="card-body">
                    <h5 class="card-title">{{ puppy.name }}</h5>
                    <p class="card-text">Breed: {{ puppy.breed }}</p>
                    <p class="card-text">Description: {{ puppy.description }}</p>
                    {% if puppy.age_in_months > 0 %}
                    <p class="card-text">Age: {{ puppy.age_in_months }} months</p>
                    {% else %}
                    <p class="card-text">Age: Puppy</p>
                    {% endif %}
                    <a href="{% url 'detail' puppy.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}