{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>About the Puppy Collector</h1>
            <hr>
            <p class="lead">Welcome to the Puppy Collector website! We are dedicated to collecting and sharing
                information about adorable puppies of all breeds.</p>
            <p>Whether you're a dog lover, breeder, or just curious about different puppy breeds, Puppy Collector is
                your go-to resource.</p>
            <p>Our mission is to provide accurate and helpful information about puppies to help you make informed
                decisions about pet ownership and care.</p>
        </div>
    </div>
</div>
{% endblock %}

