{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>About PawPalace</h1>
            <hr>
            <p class="lead">Welcome to PawPalace, your one-stop destination for adopting a new furry family member and
                learning about puppy care and training!</p>
            <p>At PawPalace, we're passionate about connecting loving homes with adorable puppies in need of adoption.
                But we're more than just a pet adoption platform – we're also a valuable resource for all things
                puppy-related.</p>
            <p>Whether you're a first-time pet owner or a seasoned dog enthusiast, PawPalace offers a wealth of
                information and resources to help you navigate the journey of puppy parenthood. From expert tips on
                puppy care and training to insightful articles on breed characteristics and behavior, we're here to
                support you every step of the way.</p>
            <p>So, if you're ready to embark on the wonderful adventure of puppy adoption and ownership, look no further
                than PawPalace!</p>
        </div>
    </div>
</div>
{% endblock %}


