{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Puppy Collector</h1>
            <p class="lead">Discover a world of adorable puppies!</p>
            <p>Whether you're a dog enthusiast, breeder, or simply looking to add a furry friend to your family, Puppy
                Collector is your ultimate destination for all things puppy-related.</p>
            <p>Explore our collection of cute puppies, learn about different breeds, and get tips on puppy care and
                training.</p>
            <a href="/puppies" class="btn btn-primary">View Our Puppies</a>
        </div>
    </div>
</div>
{% endblock %}

