{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to PawPalace</h1>
            <p class="lead">Discover a world of adorable puppies!</p>
            <p>Whether you're a dog enthusiast, breeder, or simply looking to add a furry friend to your family,
                PawPalace
                is your ultimate destination for all things puppy-related.</p>
            <p>Explore our collection of cute puppies, learn about different breeds, and get tips on puppy care and
                training.</p>
            <a href="/puppies" class="btn btn-primary">Meet Our Adorable Puppies</a>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Happy Adopters</h5>
                    <p class="card-text">Read what our happy adopters have to say about their PawPalace experience.</p>
                    <a href="#" class="btn btn-secondary">Read Testimonials</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Subscribe to Our Newsletter</h5>
                    <p class="card-text">Stay up-to-date with the latest puppy arrivals, care tips, and special
                        promotions.</p>
                    <form>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


